<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title index
    body
        .index
        
            .index__top

            .index__right
                .index__rightcol
                    .index__rightcol1 right1
                    .index__rightcol2 right2