<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title index
    body
        .top
            .top__col1

        .right
            .right__col1 right1
            .right__col2 right2